.Lead-details {
  flex: 2;
  color: #666;
  font-size: 0.889em;
}

.Lead-details--header {
  font-size: 1.266em;
  font-weight: 600;
  color: #000;
}
.Lead-icon {
  flex: 1;
  text-align: right;
  color: gray;
}

.Lead-body {
  padding-top: 10px;
}
